.ant-select-selector {
  border-radius: 4px !important;
  height: 100% !important;
}

.ant-select-selector input {
  height: 100% !important;
  font-size: 18px !important;
}

.ant-select-dropdown {
  border-radius: 4px !important;
}

.ant-btn {
  border-radius: 4px !important;
}

.ant-select-selection-placeholder {
  display: flex !important;
  align-items: center !important;
  font-size: 18px !important;
}

.ant-spin-dot .ant-spin-dot-item {
  background-color: rgb(99 102 241);
}

.ant-select-item-option {
  border-bottom: 1px dashed #eee !important;
  padding: 12px !important;
}

.ant-drawer-content-wrapper {
  height: calc(100vh - 88px) !important;
  border-radius: 20px 20px 0 0 !important;
  padding-top: 3px;
  overflow: hidden;
  background-image: linear-gradient(
    to top right,
    rgb(99 102 241),
    rgb(244 63 94)
  ) !important;
}

.ant-drawer-content {
  border-radius: 23px 23px 0 0 !important;
  background-color: #101015 !important;
}
