.ant-select-selector {
  border-radius: 4px !important;
  height: 100% !important;
}

.ant-select-selector input {
  height: 100% !important;
  font-size: 18px !important;
}

.ant-select-dropdown {
  border-radius: 4px !important;
}

.ant-btn {
  border-radius: 4px !important;
}

.ant-select-selection-placeholder {
  display: flex !important;
  align-items: center !important;
  font-size: 18px !important;
}

.ant-spin-dot .ant-spin-dot-item {
  background-color: rgb(99 102 241);
}

.ant-select-item-option {
  border-bottom: 1px dashed #eee !important;
  padding: 12px !important;
}
